Hop-by-hop headers are not removed when heimdall is operated in proxy mode

### Preflight checklist

- [X] I agree to follow this project's [Code of Conduct](https://github.com/dadrus/heimdall/blob/main/CODE_OF_CONDUCT.md).
- [X] I have read and am following this repository's [Contribution Guidelines](https://github.com/dadrus/heimdall/blob/main/CONTRIBUTING.md)."
- [X] I could not find a solution in the existing issues, docs, nor discussions.

### Describe the bug

[RFC 2616, section 13.5.1](https://datatracker.ietf.org/doc/html/rfc2616#section-13.5.1) specifies a hard coded list of headers, which must be removed by a proxy.

[RFC 7230, section 6.1](https://datatracker.ietf.org/doc/html/rfc7230#section-6.1) repaces the hardcoded list and requires that all headers referenced in the `Connection` header to be removed. 

Neither the one, nor the other is done by heimdall in both directions. However, nginx, as well as haproxy seems to behave the same way.

### How can the bug be reproduced

Run heimdall in proxy mode and send any of the hop-by-hop headers in the request. They will be forwarded to the upstream.

### Relevant log output

_No response_

### Relevant configuration

_No response_

### Version

v0.7.0-alpha

### On which operating system are you observing this issue?

Linux

### In which environment are you deploying?

Docker

### Additional Context

The fix should ensure, the usage of the `Connection` header can not be abused by an adversary, leading to the removal of headers set by heimdall itself, e.g. like the `Authorization` header.