`oauth2_introspection` authenticator requires the issuer assertion to be configured

### Preflight checklist

- [x] I agree to follow this project's [Code of Conduct](https://github.com/dadrus/heimdall/blob/main/CODE_OF_CONDUCT.md).
- [x] I have read and am following this repository's [Contribution Guidelines](https://github.com/dadrus/heimdall/blob/main/CONTRIBUTING.md)."
- [x] I could not find a solution in the existing issues, docs, nor discussions.

### Describe the bug

While issuer verification is crucial for JWT validation and must be included in the corresponding assertion, it becomes optional when using the introspection endpoint. If the IdP is directly used for token introspection, its knowledge of the token inherently confirms its role as the issuer. This is consistent with [RFC 7662](https://www.rfc-editor.org/rfc/rfc7662#page-6), which designates the `active` attribute as the only mandatory field in the introspection response and explicitly marks the `iss` attribute as optional. None of the related RFCs or specifications alter this. Neither [RFC 9700](https://www.rfc-editor.org/rfc/rfc9700.html), [RFC 6819](https://www.rfc-editor.org/rfc/rfc6819), nor the [OpenID Connect Core](https://openid.net/specs/openid-connect-core-1_0.html) specification provide a rationale for enforcing `iss` validation in token introspection responses.

### How can the bug be reproduced

Take the docker compose based example, add an `oauth2_introspection` authenticator with the configuration shown below and try to start the setup. You'll run into an error similar to the one also shown below.

### Relevant log output

```shell
heimdall-1       | 2025-02-25T08:36:13Z INF Starting heimdall _version=v0.15.6
heimdall-1       | 2025-02-25T08:36:13Z INF OpenTelemetry tracing disabled.
heimdall-1       | 2025-02-25T08:36:13Z INF OpenTelemetry metrics disabled.
heimdall-1       | 2025-02-25T08:36:13Z INF Loading mechanism catalogue
heimdall-1       | 2025-02-25T08:36:13Z DBG Loading definitions for authenticators
heimdall-1       | 2025-02-25T08:36:13Z DBG Loading mechanism definition _id=deny_all _type=unauthorized
heimdall-1       | 2025-02-25T08:36:13Z DBG Loading mechanism definition _id=anon _type=anonymous
heimdall-1       | 2025-02-25T08:36:13Z DBG Loading mechanism definition _id=authelia _type=oauth2_introspection
heimdall-1       | 2025-02-25T08:36:13Z ERR Failed loading authenticators definitions error="configuration error: failed validating `oauth2_introspection` authenticator config: 'assertions' is a required field"
heimdall-1       | 2025-02-25T08:36:13Z ERR Failed loading mechanism catalogue error="configuration error: failed validating `oauth2_introspection` authenticator config: 'assertions' is a required field"
heimdall-1       | Failed to initialize proxy service: could not build arguments for function "reflect".makeFuncStub (reflect/asm_amd64.s:28): failed to build rule.SetProcessor: could not build arguments for function "github.com/dadrus/heimdall/internal/rules".NewRuleSetProcessor (github.com/dadrus/heimdall/internal/rules/ruleset_processor_impl.go:35): failed to build rule.Repository: could not build arguments for function "github.com/dadrus/heimdall/internal/rules".newRepository (github.com/dadrus/heimdall/internal/rules/repository_impl.go:41): failed to build rule.Factory: could not build arguments for function "github.com/dadrus/heimdall/internal/rules".NewRuleFactory (github.com/dadrus/heimdall/internal/rules/rule_factory_impl.go:34): failed to build mechanisms.MechanismFactory: received non-nil error from function "github.com/dadrus/heimdall/internal/rules/mechanisms".NewMechanismFactory (github.com/dadrus/heimdall/internal/rules/mechanisms/mechanism_factory.go:54): configuration error: failed validating `oauth2_introspection` authenticator config: 'assertions' is a required field
heimdall-1 exited with code 1
```

### Relevant configuration

```yml
mechanisms:
  authenticators:
  - id: authelia
    type: oauth2_introspection
    config:
      introspection_endpoint:
        url: https://authelia/api/oidc/introspection
```

### Version

0.15.6

### On which operating system are you observing this issue?

Linux

### In which environment are you deploying?

Docker

### Additional Context

This issue has been discussed under https://discord.com/channels/1100447190796742698/1341842423055253534/1341887789859475550

The existing workaround is to define the assertion with the expected value for the issuer. If the IdP doesn't set this attribute in its introspection response, the value of the aforesaid assertion can be set to an empty string as shown below:

```yaml
id: authelia
type: oauth2_introspection
config:
  introspection_endpoint:
    url: [...]
  assertions:
    issuers:
      - ""
```